@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-1: #ffffff;
  --bg-color-2: #33333372;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-1: #0f172a;
    --bg-color-2: #333;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom , var(--bg-color-1), var(--bg-color-2));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-indicators p a.active {
  color: black;
  font-size: larger;
}
